:root {
    --mauve: #D9ADD6;
    --dk-grey : #494C4F;
    --grey : rgb(119, 119, 119);
    --lt-grey : #D9D9D9;
    --medium-blue : #576D8B;
    --footer-blue : #102940;
}

@font-face {
    font-family: 'homeday';
    src:url(fonts/Homeday.ttf);
}

body {
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in-out;
    a {
        text-decoration: none;
        color:inherit;
    }
    a:hover {
        cursor:pointer;
    }
    .button-type {
        margin-left: auto;
        margin-right: auto;
        background-color: var(--mauve);
        padding: 10px 70px 10px 70px;
        border-radius: 2px;
        color:white;
        font-weight: 700;
    }

    h2 {
        color: var(--mauve);
        margin: 0;
        font-family: 'homeday';
        font-size: 2.7rem;
        font-weight:100;
    }
}

/* START CLICK AND COLLECT */

#our-burgers {
    display:flex;
    justify-content: space-between;
    width: 80vw;
    margin: 80px auto 0 auto;

    #right-part {
    width: 60%;
    display:flex;
    flex-direction: column;
    align-items: end;

        div:first-child {
            display: flex;
            justify-content: center;
            align-items: center;

            .fine-line {
                height: 2px;
                width: 15px;
                background-color: black;
                margin: 0 5px 0 5px;
            }
        }

        p {
            width: 50%;
            text-align: center;
            margin-top: -5px;
            font-size: 1.2rem;
        }

        #recap-order {
            display: flex;
            justify-content: space-around;
            width: 40%;

            .your-order-item {
                justify-self: self-start;
                background-color: #576d8b83;
                border-radius: 10px;
                width: 60px;
                height: 60px;
                aspect-ratio: 1/1;
                display:flex;
                justify-content: center;
                align-items: center;

                div {
                    aspect-ratio: 1/1;
                    width: 70%;
                    background-color: #D9D9D9;
                    border-radius: 10px;
                }
            }
        }
    }

    #left-part {
        width: 40%;

        p {
            color: var(--dk-grey);
            font-size: 1.2rem;
        }
    }
}

.separative-dashed-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px auto 20px auto;
    height: 3px;
    width: 80vw;
    background-image: url(/img/dashed-horizontal.png);
    background-repeat: repeat;

}

#select-your-burger, #select-your-aside {
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80vw;

    .burger-to-choose, .aside-to-choose {
        display:flex;
        justify-content: space-between;
        width: 100%;

        input {
            margin: 20px;
        }

        label {
            display:flex;
            align-items: center;
            justify-content: space-around;
            width: 40%;

            span {
                font-size: 1.4rem;
                text-align: left;
                width: 50%;
            }

            div {
                background-color: var(--lt-grey);
                height: 180px;
                width: 120px;
                display:flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;

                img {
                    width: 150px;
                    aspect-ratio: 1/1;
                    border-radius: 10px;
                    object-fit: cover;
                    object-position: bottom;
                }
            }

        }

        p {
            width: 50%;
            display: flex;
            align-items: center;
            font-size: 1.1rem;
            color: var(--dk-grey)
        }
    }
}

/* CLICK */

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        padding: 0 0 0 15px;
    }

    #input-button {
        display: flex;
        height:100%;

        input {
            padding: 10px 15px 10px 15px;
            width: 120px;
            margin: -40px 10px 10px 10px;
            color: white;
            background-color: var(--mauve);
            border: none;
            border-radius: 3px;
        }
    }


}

#click-and-collect {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;

    h2 {
        font-size: 5rem;
        margin:0;
    }
    h3 {
        font-size: 2.6rem;
        margin:0;
        color: var(--dk-grey);
    }
    p {
        width: 60%;
        font-size: 1.5rem;
        padding: 5px;
        color: var(--dk-grey)
    }
}

#start-click-collect {
    margin-top: 100px;
    height: 300px;
    background-color: #D9D9D9;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;

    div {
        background-color: var(--medium-blue);
        width: 80vw;
        height: 200px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;

        input {
            background-color: var(--mauve);
            color: white;
            border: none;
            border-radius: 7px;
            height: 40%;
            width: 40%;
            font-size: 2rem;
            font-weight: 600;
        }
    }
}

/* ACCUEIL */

#with-pic {
    background-image: url(img/banniere.png);
    background-size: cover;
    height: 70vh;
    width: 100vw;
    align-items: start;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

    h1 {
        margin:0;
    }

    div {
        display:flex;
        flex-direction: column;

        #input-button {
            display:flex;
            flex-direction: row;
            margin: 10px 0 0 0;
            width: 50vw;
            justify-content: flex-end;

            input {
                padding: 10px 15px 10px 15px;
                width: 120px;
                margin: 10px 10px 10px 10px;
                color: white;
                background-color: var(--mauve);
                border: none;
                border-radius: 3px;
            }
        }

        #navigation-bar {
            nav {
                margin: 10px 0 0 0;

                ul {
                    display:flex;
                    list-style: none;
                    width: 50vw;
                    justify-content: space-around;

                    li {
                        a {
                            color:white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

    }

}

.two-parts {
    padding: 50px 0 50px 0;
    display:flex;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;

    h3 {
        color: var(--dk-grey);
        margin: 0;
        font-size: 1.7rem;
        font-weight: 500;
    }

    div:first-child {
        width: 30%;

        img {
            width:100%;
        }
        p {
            color:var(--grey);
            font-size: 1.7rem;
        }
    }

    div:last-child {
        width: 60%;

        p {
            color:var(--grey);
            font-size: 1.8rem;
            margin: 50px 0 20px 0;
            height: 40%;
            display: flex;
            align-items: center;
        }

        input {
            background-color: transparent;
            border:none;
            font-size: 1.2rem;
        }
    }
}

.container-of-burgers {
    display: flex;
    align-items: center;

    img {
        margin: 10px;
    }
}

.container-of-third {
    width: 100%;
    display:flex;
    justify-content: space-between;

    img {
        width: 30%;
        object-fit: cover;
        object-position: bottom;
        aspect-ratio: 1/1;
    }
}

#nos-actus {
    div {
        display: flex;
        margin-left:auto;
        margin-right:auto;
        width: 80vw;
        height: 70px;
        justify-content: space-around;
        align-items: center;

        h2 {
            width: 50%;
            text-align: center;
        }

        .dashed {
            background-image: url(img/dashed-line.svg);
            background-repeat: repeat;
            transform: rotate(90deg);
            width: 5px;
            height:200px;
        }
    }
}

#last-actus {
    width: 70vw;
    display:flex;
    margin:auto;
    justify-content: space-between;
    text-align: center;

    div {
        width: 30%;
        display:flex;
        flex-direction: column;

        h4 {
            font-weight: 100;
            font-size: 1.02rem;
        }

        img {
            width: 100%;
            aspect-ratio: 1/1;
        }

        p {
            font-size: 1.1rem;
            color: var(--grey);
        }

        input {
            width: 10vw;
            min-width: 80px;
            max-width: 200px;
            margin:auto;
            border: none;
            background-color: var(--dk-grey);
            color:white;
            font-size: 1.05rem;
            border-radius: 5px;
            padding: 10px 0 10px 0;
        }
    }
}

#newsletter {
    margin-top: 50px;
    width: 100vw;
    height: 400px;
    background-color: var(--lt-grey);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: var(--mauve);
        font-size: 1.5rem;
    }

    #newsletter-form {
        background-color: var(--medium-blue);
        width: 85vw;
        height: 130px;
        border-radius: 7px;
        color: white;
        display:flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding: 20px;

        #email-input-newsletter {
            display:flex;
            flex-direction: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height:130px;

            p {
                margin:0;
                padding:0;
            }

            h3 {
                width: 40%;
                font-size: 1.9rem;
                margin-top: -40px;
                font-weight: 100;
            }

            div {
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                input {
                    padding: 10px;
                    height:30px;
                    border-radius : 7px;
                    margin-left: 10px;
                    margin-right: 10px;
                    width: 50%;
                }

                #submit-newsletter {
                    width: 30px;
                    height:30px;
                    padding: 10px;
                    background-color: var(--mauve);
                    color: white;
                    border-radius: 7px;
                }
            }
        }
    }
}

footer {
    background-color: var(--footer-blue);
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    color:white;
    margin-bottom: 0;

    ul {
        list-style: none;

        li {
            padding: 10px 0 10px 0;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}